$patrick: 'Patrick Hand', cursive;
$comfort: 'Comfortaa', cursive;

body {
    font-family: $patrick;
    &.lock {
        @media (max-width: 930px) {
            overflow: hidden;
        }
    }
}
img {
    display: block;
    user-select: none;
    
}
.wrapper {
    overflow: hidden;
    overflow-x: hidden;
}
.container {
    padding: 0 20px;
    margin: 0px auto;
    max-width: 1600px;
}


// header
.header {
    padding: 30px 0;
    @media (max-width: 930px) {
        padding: 20px 0;
    }
    &__menu {
        &-body {
            z-index: 200;
            display: flex;
            @media (min-width: 931px) {
                justify-content: center;
            }
            @media (max-width: 930px) {
                position: absolute;
                left: -100%;
                top: 0;
                height: 100vh;
                flex-direction: column;
                background: rgba(0,0,0,0.7);
                padding: 100px 20px 0;
                transition: 0.6s all ease 0s;
                &.active {
                    left: 0;
                    transition: 0.6s all ease 0s;
                }
            }
            @media (max-width: 425px) {
                width: 100%;
            }
        }
        &-item {
            @media (min-width: 931px) {
                padding: 0 18px;
            }
            @media (max-width: 930px) {
                position: relative;
                margin-bottom: 35px;
                padding-bottom: 15px;
                &.link-active {
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: #fff;
                    }
                }
                &:hover:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                }
            }
        }
        &-link {
            color: #fff;
            font-family: $comfort;
            font-size: 22px;
            @media (min-width: 931px) {
                padding: 0 25px 10px;
                &.link-active {
                    border-bottom: 2px solid #fff;
                }
                &:hover {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    &__burger {
        z-index: 300;
        @media (max-width: 930px) {
            width: 35px;
            height: 32px;
            position: relative;
            &:after, &:before, span {
                position: absolute;
                content: ' ';
                width: 100%;
                height: 3px;
                background: #fff;
            }
            &:after {
                top: 0;
            }
            &:before {
                bottom: 0;
            }
            & span {
                top: 14px;
            }
        }
    }
}
// intro 
.intro {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/bg.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100Vh;
}
// presentation
.presentation {
    padding-bottom: 10px;
    &__content {
        display: flex;
        justify-content: space-around;
        margin: 70px 0 200px;
        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__block {
        z-index: 100;
        max-width: 500px;
        @media (min-width: 1025px) {
            &:first-child {
                margin-right: 100px;
            }
        }
        @media (max-width: 1024px) {
            &:last-child {
                margin-bottom: 100px;
            }
        }
        &-person {
            @media (min-width: 1025px) {
                width: 105%;
            }
            @media (max-width: 1024px) {
                width: 90%;
                display: block;
                margin: 0px auto;
            }
        }
    }
    &__title {
        text-align: center;
        font-size: 90px;
        color: #fff;
        margin-top: 90px;
        @media (max-width: 490px) {
            font-size: 55px;
        }
        @media (max-width: 930px) {
            margin-top: 60px;
        }
    }
}
// orange 
.orange-top {
    margin-top: -400px;
    @media (max-width: 1024px) {
        margin-top: -150px;
    }
    & img {
        margin-bottom: -5px;
        width: 100%;
        object-fit: cover;
    }
}
.orange {
    background: #fafafa;
    &__container {
        margin: 0;
    }
    &__content {  
        display: flex;
        align-items: center;
        padding: 100px 0;
        @media (max-width: 1440px) {
            flex-direction: column-reverse;
        }
    }
    &__item {
        @media (min-width: 1441px) {
            width: 50%;
        }
        margin: 0px auto;
        padding: 0 40px;
    }
    &__info {
        margin: 0px auto;
        text-align: justify;
        max-width: 700px;
        border-bottom: 5px solid #ee7353;
        &-text {
            font-size: 36px;
            color: #882029;
            line-height: 45px;
            &:first-child {
                padding-bottom: 30px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
            }
            @media (max-width: 490px) {
                font-size: 25px;
                line-height: 40px;
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 140px;
            border-radius: 100px;
            background: #ee7353;
            margin: 50px auto;
            & i {
                color: #fff;
                font-size: 60px;
                padding-left: 10px;
            }
            @media (max-width: 768px) {
                width: 100px;
                height: 100px;
                margin: 25px auto;
                & i {
                    font-size: 40px;
                    padding-left: 5px;
                }
            }
        }
    }
    &__img {
        width: 50%;
        @media (min-width: 1921px) {
            width: 50%;
        }
        @media (max-width: 1440px) {
            width: 100%;
            margin: 60px 0 0 0;
        }
        & img {
            width: 100%;
        }
    }
}
.orange-end {
    & img {
        margin-top: -2px;
        width: 100%;
        object-fit: cover;
    }
}
// blue 
.blue {
    background: #fafafa;
    &__container {
        margin: 0;
    }
    &__content {  
        display: flex;
        align-items: center;
        padding: 100px 0;
        @media (max-width: 1440px) {
            flex-direction: column-reverse;
        }
    }
    &__item {
        @media (min-width: 1441px) {
            width: 50%;
        }
        margin: 0px auto;
        padding: 0 40px;
    }
    &__info {
        margin: 0px auto;
        text-align: justify;
        max-width: 700px;
        border-bottom: 5px solid #758b98;
        &-text {
            font-size: 36px;
            color: #43525d;
            line-height: 45px;
            &:first-child {
                padding-bottom: 30px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
            }
            @media (max-width: 490px) {
                font-size: 25px;
                line-height: 40px;
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 140px;
            border-radius: 100px;
            background: #758b98;
            margin: 50px auto;
            & i {
                color: #fff;
                font-size: 60px;
                padding-left: 10px;
            }
            @media (max-width: 768px) {
                width: 100px;
                height: 100px;
                margin: 25px auto;
                & i {
                    font-size: 40px;
                    padding-left: 5px;
                }
            }
        }
    }
    &__img {
        width: 50%;
        @media (min-width: 1921px) {
            width: 50%;
        }
        @media (max-width: 1440px) {
            width: 100%;
            margin: 60px 0 0 0;
        }
        & img {
            width: 100%;
        }
    }
}
.blue-top {
    & img {
        margin-bottom: -6px;
        width: 100%;
        object-fit: cover;
    }
}
.blue-end {
    & img {
        margin-top: -2px;
        width: 100%;
        object-fit: cover;
    }
}
// footer 
.footer {
    margin-top: -2px;
    background: #758b98;
    @media (min-width: 1921px) {
        padding-bottom: 100px;
    }
    @media (max-width: 1920px) {
        padding-bottom: 50px;
    }
    @media (max-width: 768px) {
        padding: 20px 0 30px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        &-title {
            font-size: 48px;
            color: #fff;
            @media (min-width: 769px) {
                padding-right: 50px;
            }
            @media (max-width: 768px) {
                font-size: 35px;
                margin-bottom: 20px;
            }
        }
        &-icon {
            & i {
                font-size: 35px;
                color: #fff;
            }
        }
    }
}
.footer-bottom {
    & img {
        width: 100%;
        object-fit: cover;
    }
}